**Bora praticar!**
  
1) Utilizando o DataFrame importado (alunos3.csv) calcule a média das provas em uma nova coluna chamada (Media_provas)

In [157]:
import pandas
notas_alunos = pandas.read_csv(r"C:\Users\leand\OneDrive\Área de Trabalho\dados\alunos3.csv",sep=';')
notas_alunos["Media_provas"] = ''
valores = []
for i in notas_alunos['Prova_1']:
    nota = float(i.replace(',','.'))
    valores.append(nota)
    
notas_alunos['Prova_1'] = valores

valores = []
for i in notas_alunos['Prova_2']:
    nota = float(i.replace(',','.'))
    valores.append(nota)
    
notas_alunos['Prova_2'] = valores
valores = []
for i in notas_alunos['Prova_3']:
    nota = float(i.replace(',','.'))
    valores.append(nota)
    
notas_alunos['Prova_3'] = valores
notas_alunos

,RA,Nome,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,Media_provas
0,110201,Antonio Carlos,20,6.5,8.5,7.0,6,
1,110212,Ana Beatriz,20,7.0,7.0,7.0,8,
2,110218,Carlos Vernes,17,7.0,7.0,7.0,7,
3,110307,Francisco Cunha,20,9.0,8.5,8.5,10,
4,110275,Sandra Rosa,15,6.5,7.5,7.0,7,
5,110281,Juliana Arruda,18,7.5,7.0,7.5,8,
6,110301,Joao Galo,20,5.0,6.5,7.0,5,
7,110263,José Valente,20,10.0,10.0,10.0,10,
8,110271,Maria Ferreira,19,9.5,8.0,7.0,10,
9,110236,Adriana Tavares,20,8.0,8.0,8.0,8,

In [162]:
for i in range(len(notas_alunos['RA'])):
    
    notas_alunos.iat[i,7] = (notas_alunos.iat[i,3]+notas_alunos.iat[i,4]+notas_alunos.iat[i,5]+notas_alunos.iat[i,6])/4
notas_alunos

,RA,Nome,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,Media_provas
0,110201,Antonio Carlos,20,6.5,8.5,7.0,6,7.0
1,110212,Ana Beatriz,20,7.0,7.0,7.0,8,7.25
2,110218,Carlos Vernes,17,7.0,7.0,7.0,7,7.0
3,110307,Francisco Cunha,20,9.0,8.5,8.5,10,9.0
4,110275,Sandra Rosa,15,6.5,7.5,7.0,7,7.0
5,110281,Juliana Arruda,18,7.5,7.0,7.5,8,7.5
6,110301,Joao Galo,20,5.0,6.5,7.0,5,5.875
7,110263,José Valente,20,10.0,10.0,10.0,10,10.0
8,110271,Maria Ferreira,19,9.5,8.0,7.0,10,8.625
9,110236,Adriana Tavares,20,8.0,8.0,8.0,8,8.0

2) Quem foram os alunos que obtiveram a maior e a menor média

In [171]:
medias = list(notas_alunos['Media_provas'])
print(f'A maior média é {max(medias)}')
print(f'A menor média é {min(medias)}')

A maior média é 10.0
A menor média é 5.875

3) Agora una este dataframe com o `cadastro_alunos.xlsx`

In [182]:
cadastro_alunos = pandas.read_excel(r"C:\Users\leand\OneDrive\Área de Trabalho\dados\cadastro_alunos.xlsx")
completo = notas_alunos.merge(cadastro_alunos,on='RA')
completo

,RA,Nome,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,Media_provas,Cidade,Sexo,Idade
0,110201,Antonio Carlos,20,6.5,8.5,7.0,6,7.0,São Paulo,Masculino,15
1,110212,Ana Beatriz,20,7.0,7.0,7.0,8,7.25,Rio de Janeiro,Feminino,20
2,110218,Carlos Vernes,17,7.0,7.0,7.0,7,7.0,Rio de Janeiro,Masculino,18
3,110307,Francisco Cunha,20,9.0,8.5,8.5,10,9.0,Belo Horizonte,Masculino,39
4,110275,Sandra Rosa,15,6.5,7.5,7.0,7,7.0,Belo Horizonte,Feminino,22
5,110281,Juliana Arruda,18,7.5,7.0,7.5,8,7.5,Rio de Janeiro,Feminino,17
6,110301,Joao Galo,20,5.0,6.5,7.0,5,5.875,Belo Horizonte,Masculino,26
7,110263,José Valente,20,10.0,10.0,10.0,10,10.0,Belo Horizonte,Masculino,31
8,110271,Maria Ferreira,19,9.5,8.0,7.0,10,8.625,São Paulo,Feminino,29
9,110236,Adriana Tavares,20,8.0,8.0,8.0,8,8.0,São Paulo,Feminino,16

4) Qual a média entre as Media_provas dentro do público feminino? e masculino?

In [193]:
contador_h = 0
contador_f = 0
media_h = 0
media_f = 0
for i in range(len(completo['Sexo'])):
    if completo.iat[i,9] == 'Masculino':
        media_h += completo.iat[i,7]
        contador_h += 1
    else:
        media_f += completo.iat[i,7]
        contador_f += 1
media_h = media_h/contador_h
media_f = media_f/contador_f
print(f'A média dos homens é {media_h}.')
print(f'A média das mulheres é {media_f}')

A média dos homens é 7.775.
A média das mulheres é 7.675

5) Qual a média de idade das pessoas que obtiveram Media_provas maior ou igual a 7?

In [192]:
media_idades = 0
cont_idade = 0
for i in range(len(completo['RA'])):
    if completo.iat[i,7] >= 7:
        media_idades += completo.iat[i,10]
        cont_idade += 1
media_idades = media_idades / cont_idade
print(f'A média de idade dos aprovados é {media_idades}')

A média de idade dos aprovados é 23.0

6) Qual das cidades possui o maior média de Media_provas? E qual é este valor?

In [194]:
completo

,RA,Nome,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,Media_provas,Cidade,Sexo,Idade
0,110201,Antonio Carlos,20,6.5,8.5,7.0,6,7.0,São Paulo,Masculino,15
1,110212,Ana Beatriz,20,7.0,7.0,7.0,8,7.25,Rio de Janeiro,Feminino,20
2,110218,Carlos Vernes,17,7.0,7.0,7.0,7,7.0,Rio de Janeiro,Masculino,18
3,110307,Francisco Cunha,20,9.0,8.5,8.5,10,9.0,Belo Horizonte,Masculino,39
4,110275,Sandra Rosa,15,6.5,7.5,7.0,7,7.0,Belo Horizonte,Feminino,22
5,110281,Juliana Arruda,18,7.5,7.0,7.5,8,7.5,Rio de Janeiro,Feminino,17
6,110301,Joao Galo,20,5.0,6.5,7.0,5,5.875,Belo Horizonte,Masculino,26
7,110263,José Valente,20,10.0,10.0,10.0,10,10.0,Belo Horizonte,Masculino,31
8,110271,Maria Ferreira,19,9.5,8.0,7.0,10,8.625,São Paulo,Feminino,29
9,110236,Adriana Tavares,20,8.0,8.0,8.0,8,8.0,São Paulo,Feminino,16

In [223]:
media_cidades = {}
lista_cidades = {i:[0,0,0] for i in completo['Cidade']}
#lista_cidades = [i for i in lista_cidades.keys()]
lista_cidades
for i in range(len(completo['RA'])):
    lista_cidades[completo.iat[i,8]][0] += completo.iat[i,7]
    lista_cidades[completo.iat[i,8]][1] += 1
for j in lista_cidades:
    lista_cidades[j][2] = lista_cidades[j][0] / lista_cidades[j][1] 

maior_media_cidade = [(j[2],i) for i,j in lista_cidades.items()]
resultado = sorted(maior_media_cidade,reverse=True)
print(f'A cidade com a maior média é {resultado[0][1]} e a média dele é {resultado[0][0]}')

A cidade com a maior média é Belo Horizonte e a média dele é 7.96875

7. Leia o arquivo `aluno3.csv`, apenas as colunas RA, Prova_1, Prova_2, Prova_3, Prova_4 calcule a médias das notas da prova e salve em um arquivo excel (xlsx) as colunas RA e Média.